@usitsdasdesign:registry=https://pkgs.dev.azure.com/apps-its-us-deloitte/_packaging/USITSDAS-Private-DASDesign%40Local/npm/registry/
      

always-auth=true
      

; begin auth token
      
; begin auth token
      
//pkgs.dev.azure.com/apps-its-us-deloitte/_packaging/USITSDAS-Private-DASDesign%40Local/npm/registry/:username=dds-showcase-npm-access-token
      
//pkgs.dev.azure.com/apps-its-us-deloitte/_packaging/USITSDAS-Private-DASDesign%40Local/npm/registry/:_password=dWxnd2VidDdud280enhrY2VwbmFscGJsNDd6Y3BqZ3dhb3Btdm5ycjVnbGdobXpkMjViYQ==
      
//pkgs.dev.azure.com/apps-its-us-deloitte/_packaging/USITSDAS-Private-DASDesign%40Local/npm/registry/:email=igarkavtsev@deloitte.com
      
//pkgs.dev.azure.com/apps-its-us-deloitte/_packaging/USITSDAS-Private-DASDesign%40Local/npm/:username=dds-showcase-npm-access-token
      
//pkgs.dev.azure.com/apps-its-us-deloitte/_packaging/USITSDAS-Private-DASDesign%40Local/npm/:_password=[dWxnd2VidDdud280enhrY2VwbmFscGJsNDd6Y3BqZ3dhb3Btdm5ycjVnbGdobXpkMjViYQ==]
      
//pkgs.dev.azure.com/apps-its-us-deloitte/_packaging/USITSDAS-Private-DASDesign%40Local/npm/:email=igarkavtsev@deloitte.com
      
; end auth token